/* Global Styles */
html,
body {
  	  width: 100%;
	  box-sizing: border-box;
	  padding: 0;
	  margin: 0;
	}
body {   font-family: arial;		
		font-size: 14px;		
		box-sizing: border-box;	
		padding: 0;
		margin: 0;		 		
	  }	
a{ text-decoration: none; }
.clearFix{clear: both;}
.container{ width: 960px;
			margin: auto;
			position: relative;			
		   }
ul{	list-style-type: none;
	padding: 0px; 
	-webkit-padding-start: 0px;	
	}

/*---------------- Header CSS ---------------*/	 
header{ padding: 20px;
	   background: #fff;
	   height: auto;	   
	  }
 
header .logo{  height: 55px;
				   width: 250px;
				   float: left;
				   background: url('../images/cuelogic_logo.png') no-repeat;
				}
header .navigation{ float: right;					   
					 }
header .navigation li{ float: left;
						margin-left: 20px;
						}
header .navigation li a{  padding: 15px 20px;
					  color: #1d1d1d;
					  text-transform: uppercase;
						}
header .navigation li a:hover{  background-color: #0070ba;
							color: white;
							transition: 0.6s;	
							}
header .navigation li #btnSignOut{  background: #1d1d1d; 
								color: white;
								padding: 8px 20px;
								border-radius: 5px;
								-webkit-border-radius: 5px;								
								margin-left: 20px;
							 }
header .navigation li #btnSignOut:hover{ text-decoration: underline;
									  transition: 0.8s;									  
									} 	
									
/*-------- Blog CSS -------------*/
.middle{ color: white; 
		 height: auto;
		 margin-top: 7%;
		 position: relative;
		}
		
.bg_tile{ position: fixed;
		  width: 960px; 		   
		  z-index: 999;
		  top:0;
		  background: #000; 
		  padding: 20px 10px; 
		  color: white;
		  font-size: 20px;
		  box-sizing: border-box;
		}

.bg_tile {		
			}
.middle aside{ float: left;
			  width: 200px;
			  background: #0070ba;
			  padding: 20px;
			  height:  630px;			
     		}
.middle aside iframe{ width: 100%;
					height: 30%;
				}			
.middle aside .audio_player{position: relative;width: 100%;}
.middle aside ul li{ margin: 20px; }
.middle aside ul li a{color: white;}
.middle aside ul li a:hover{ text-decoration: underline; 
						transition: 0.5s;
						}
.middle .grid{	float: right;
				width: 700px;
				background: #66c2ff;
				padding: 10px 30px;	
				box-sizing: border-box;				
			}
.middle .grid .thumbnail li{ width: 300px;
						  height: 300px;
						  float: left; 
						  background: #fff;
						  margin: 10px;
						 }	
.middle .grid .thumbnail li .box{  display: none;
								position: absolute;
								width: 300px;
								height: 300px;
								background: hsla(0,6%,0%,0.8);								
								z-index: 999;
							}						 						 						 
.middle .grid .thumbnail li img{ position: relative;}
.middle .grid .thumbnail li:hover  .box{ display: block;
									 transition: 0.5s;
									}
							  
/*--------- Canvas CSS ------------*/
.middle.myCanvas p{  color: #0070BA;
					font-weight: bold;
					font-size: 20px;
				}
.middle.myCanvas canvas{ 	 
					  }

/*-------- Contact Us -------------*/ 		
#contact{	width: 400px;
			margin: auto;			
			height: auto;			 
			margin-top: 1%; 
			border-radius: 15px;										
			-webkit-border-radius: 15px;
			border: 2px solid #044b79;
			background: #044b79;
			padding-top: 1px;			
			text-align: center;
		}
#contact>p{   color: white; 
			  font-weight: bold; 
			  font-size: 25px;
		 }		
.contact_box{  position: relative;
			   background: #fff;
			   border-radius: 0px 0px 15px 15px;
			   -webkit-border-radius:  0px 0px 15px 15px;
			   text-align: center;
			   padding: 10px 20px;
			} 
.contact_box  .wrapper li{position: relative; width: 100%; margin-top: 15px;}
.contact_box .gender{ font-weight: bold; 
					 color:#044b79; 
					 text-align: left;
					 margin: 10px 0px;
					}		
.contact_box input{ padding: 8px 180px 8px 10px;				
				  border: 1px solid #044b79;
				  }
.contact_box  input[type="textarea"]{ height: 100px; padding-top: 0px;}
.contact_box label{ padding: 8px 100px 8px 10px;				
				  display: block;
				}		 
.contact_box  #btnSend{ background: #044b79;
					   color: white;
					   border-radius: 6px;
					   -webkit-border-radius: 6px;
					   padding: 10px 30px;
					   border: none;
					   display: inline-block;
					   margin: 20px 0px 0px 0px;
					}
.contact_box  #btnSend:hover{ background: #1d1d1d; 
							 transition: 0.5s; 	
						}
.contact_box  #sign{  color: #044b79;
					 font-weight: bold;
				  }
.contact_box  #sign:hover{ color: #1d1d1d;
						  transition: 0.5s; 	
						}
.contact_box  datalist{ padding: 8px;	
				   }
	
/*-------- Footer CSS -------------*/
footer .container{ margin-top: 50px;
				 background:#000;
				 padding:10px 20px;
				 box-sizing: border-box;
				}
footer .container li {margin-top: 10px;}
footer .container li a{color: white;}
footer .container li a:hover{text-decoration: underline;}
footer .container ul{float: left; width: 20%;}
footer .container p{float: left; margin-top: 20px;}
