/* Global Styles */
html,
body {
  	  width: 100%;
	  box-sizing: border-box;
	  padding: 0;
	  margin: 0;
	}
body {   font-family: arial;		
		font-size: 14px;		
		box-sizing: border-box;	
		padding: 0;
		margin: 0;		 		
	  }	
a{ text-decoration: none; }
.clearFix{clear: both;}
.container{ width: 960px;
			margin: auto;						
		   }
ul{	list-style-type: none;
	padding: 0px; 
	-webkit-padding-start: 0px;
	
	}

/*---------------- Header CSS ---------------*/
	 
header{ padding: 20px;
			background: #fff;
			height: auto;
		   }
header .logo{  height: 55px;
				   width: 250px;
				   float: left;
				   background: url('../images/cuelogic_logo.png') no-repeat;
				}
header .navigation{ float: right;					   
					 }
header .navigation li{ float: left;
						margin-left: 20px;
						}
header .navigation li a{  padding: 15px 20px;
					  color: #1d1d1d;
					  text-transform: uppercase;
						}
header .navigation li a:hover{  background-color: #0070ba;
							color: white;
							transition: 0.6s;	
							}
header .navigation li #btnSignOut{  background: #1d1d1d; 
								color: white;
								padding: 8px 20px;
								border-radius: 5px;
								margin-left: 20px;
							 }
header .navigation li #btnSignOut:hover{ text-decoration: underline;
									  transition: 0.8s;									  
									} 	
									
/*-------- Blog CSS -------------*/
.middle{ color: white; 
		 height: auto;
		}
.middle h1{	background: #000; 
			padding: 20px 10px; 
			color: white;
			font-size: 20px;			
			}
.middle aside{ float: left;
			  width: 200px;
			  background: #0070ba;
			  padding: 20px;
			  height:  650px;			
     		}
.middle aside ul li{ margin: 20px; }
.middle aside ul li a{color: white;}
.middle aside ul li a:hover{ text-decoration: underline; 
						transition: 0.5s;
						}
.middle .grid{	float: right;
				width: 700px;
				background: #66c2ff;
				padding: 10px 30px;	
				box-sizing: border-box;				
			}
			
.middle .grid .thumbnail li{ width: 300px;
						  height: 300px;
						  float: left; 
						  background: #fff;
						  margin: 10px;
						 }				
.middle .grid .thumbnail li:hover{ background: #040819;
								transition: 0.5s;
							  }
							  
/*-------- DataGrid CSS -------------*/
.table_grid,.listView{ width: 100%;
					   text-align: left;			
					   border-spacing: 0px;	
					}		   
.DataGrid  caption,.DataGrid .list_head{	background: #0070ba;
					padding: 10px;
					color: white;
					text-transform: uppercase;
					font-size: 16px;					
					font-weight: bold;
					text-align: center;
				}	
th,.DataGrid .List_grid .heading{ text-transform: uppercase;	
								 padding: 5px 0;
								 font-size: 14px;
								 font-weight: bold;
								}

th,td{ border: 1px solid #4b4b4b;
	  padding-left: 20px;
	}
.DataGrid tr:nth-child(odd),.DataGrid .listView ul:nth-child(odd){background: #fff;}	
.DataGrid tr:nth-child(even),.DataGrid .listView ul:nth-child(even){background: #97d6ff;}	 
.DataGrid .List_grid{margin-top: 30px;}
.DataGrid .List_grid .listView ul{margin: 0px;}
.DataGrid .List_grid .listView ul li{ float: left; 
								  padding-left: 10px;
								  border: 1px solid #4b4b4b;
								 } 
.DataGrid .List_grid .listView ul li:first-child{width: 210px;}
.DataGrid .List_grid .listView ul li:nth-child(2){width: 315px;}
.DataGrid .List_grid .listView ul li:nth-child(3){width: 215px;}
.DataGrid .List_grid .listView ul li:nth-child(4){width: 172px;}

/*-------- Footer CSS -------------*/
footer .container{ margin-top: 50px;
				 background:#000;
				 padding:10px 20px;
				 box-sizing: border-box;
				}
footer .container li {margin-top: 10px;}
footer .container li a{color: white;}
footer .container li a:hover{text-decoration: underline;}
	
	